*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #002d47;
    margin: 0px;
}
.carousel-inner .carousel-item img{
    width: 100%;
    height: 200px;
}
@media screen and (max-width: 600px) {
    .carousel-inner .carousel-item img{
        width: 100%;
        height: 120px;
    }
    #for-space{
        padding: 3px !important;
    }
}
.navbar{
    background-color:  #142335;
    height: auto;
    display: none;
}
.navbar-brand img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#mynavbar ul li a{
    font-size: 25px;
    color: #fff;
}
#mynavbar ul li a:hover{
    color: #9e9b9a;
}
.material-symbols-outlined {
  font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48;
}
#pinCodeLogo1{
    height: 150px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
    opacity: 0.8;
}
input{
    width: 270px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
}
::placeholder{
    text-align: center;
    font-size: 20px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
#submit{
    margin: auto;
    display: block;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: white;
    color: coral;
    font-weight: bold;
}
#submit:hover{
    color: white;
    background-color: coral;
    transition: 0.5s;
}
#for-space{
    padding: 30px;
}
.table-responsive{
    margin-left: 30%;
    margin-right:30%;
    display: block;
}
.table-responsive .table tr th{
    background-color: #1d427a;
}
.table-responsive{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#table2{
    display: none;
}
tr,td,th{
    background-color: rgb(236, 229, 229);
    color:#1d427a;
    font-weight: 550;
    text-align: center;
    padding: 8px;
}
.table-bordered{
    border: 1px solid black;
}
table tr th{
    color: white;
    font-weight: 750;
    margin-left: auto;
    margin-right: auto;
}
footer img{
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    opacity: 0.9;
}
footer img:hover{
    opacity: 1;
}
#div_footer1{
    background-color: #1d427a;
    padding: 10px;
}
#div_footer2{
    background-color: #142335;
    padding: 50px;
    text-align: center;
}
#e_mail{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
#e_mail:hover{
    text-decoration: underline;
}
#ism{
    color: white;
    font-size: 12px;
    text-decoration: none;
}
#ism:hover{
    text-decoration: underline;
}
#WA{
    float: right;
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 10px;
    border-radius: 10px;
}
#CR{
    color: #6c7075;
    text-decoration: none;
    font-size: 15px;
    cursor:unset;
}
#footer{
    margin-left: auto;
    margin-right: auto;
    display: block;
}